<div class="app-body">
  <mat-toolbar color="primary">
    <img src="assets/gecos_icon.png"/>
    <span class="example-spacer"></span>
    <span>Gecos-HLS Tool</span>
    <span class="example-spacer"></span>
    <img src="assets/logo_irisa_blanc.png"/>
  </mat-toolbar>
  <mat-card class="warning">
    Make sure you are running a browser with no web security by running :<br>
    <mat-card class="code">  cd ~ <br>
      mkdir chromeTemp <br>
      [PATH_TO_CHROME]/chrome --disable-web-security --user-data-dir=~/chromeTemp
    </mat-card>
  </mat-card>
  <app-mainpanel></app-mainpanel>
</div>


