.app-body {
  margin: auto;
  display: flex;
  flex-direction: column;
}

img {
  height: 90%;
}

.example-spacer {
  flex: 1 1 auto;
}

.warning {
  background-color: yellow;
}

.code {
  background-color: lightgray;
}
