<form>
  <p>Arguments :</p>
  <textarea (change)="onChange($event)"> </textarea>
  <p></p>
  <input type="button" value="submit" (click)="onAction()"/>
  <p>Results :</p>
  <input type="button" value="refresh" (click)="onRefresh()" />
  <p>{{result}}</p>
  <p>{{fileUrl}}</p>
  <p>{{final}}</p>
</form>
