<div class="app-controls">
  <h4>Input</h4>
  <h5>Select input type</h5>
  <mat-radio-group [formControl]="form" aria-label="Select an input type">
    <mat-radio-button value="1">Text editor</mat-radio-button>
    <mat-radio-button value="2">File upload</mat-radio-button>
    <mat-radio-button value="3">Use template file</mat-radio-button>
  </mat-radio-group>
  <mat-divider></mat-divider>

  <div [hidden]="form.value !=1" class="fillWidth">
   <mat-form-field>
     <mat-label>Insert Code</mat-label>
     <textarea matInput [disabled]="form.value !=1" (change)="onTextAreaChange($event)" cdkTextareaAutosize cdkAutosizeMinRows="10"></textarea>
   </mat-form-field>
    <mat-divider></mat-divider>
  </div>

  <div [hidden]="form.value != 3" >
  <mat-form-field  appearance="fill">
    <mat-label>Select file</mat-label>
    <mat-select [disabled]="form.value != 3" [(value)]="selectedFile">
      <mat-option *ngFor="let file of files" [value]="file.fileUrl" >
        {{file.fileName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-divider></mat-divider>
  </div>

  <div [hidden]="form.value!=2">
  <input [disabled]="form.value!=2" type="file" (change)="onUploadFile($event)"/>
  <mat-divider></mat-divider>
  </div>

  <div>
  <button class="submit-button"mat-flat-button color="primary" (click)="onSubmit()" [disabled]="form.value == null"> Submit</button>
    <mat-form-field>
      <mat-label>Enter extra arguments</mat-label>
      <input matInput type="text" (change)="onArgumentFieldChange($event)"/>
    </mat-form-field>
  </div>

  <mat-divider></mat-divider>
  <h4>Results</h4>
  <button mat-flat-button color="accent" > Status  :  {{currentJobStatus}}</button>
    <table>
   <tr *ngFor="let row of resultTab">
     <td>{{row.fileName}}</td>
     <td>{{row.fileUrl}}</td>
     <td><button mat-flat-button color="accent" (click)="onDownLoad(row.fileUrl,row.fileName)" > Download</button></td>
   </tr>
  </table>
</div>
