.app-controls {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
}

mat-radio-button {
  margin: 20px;
}

mat-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fillWidth > mat-form-field{
  width: 100%;
}


.submit-button {
  margin-right: 20px;
}
